<div class="left-panel">
    <div class="title">
        <img src="./assets/images/logo.png" alt="logo">
        <h2>DevPulse</h2>
    </div>
    <div class="profile">
        <img src="./assets/images/profile.png" alt="profile">
        <h3>Rachel Green</h3>
        <p>rachelgreen&#64;gmail.com</p>
    </div>
    <div class="nav-links">
        <div class="option">
            <img src="../../../../../assets/icons/home.svg" alt="">
            <p routerLink="/dashboard/home" class="active">Home</p>
        </div>
        <div class="option">
            <img src="../../../../../assets/icons/task.svg" alt="">
            <p routerLink="/tasklist">Task List</p>
        </div>
        <div class="option">
            <img src="../../../../../assets/icons/analysis.svg" alt="">
            <p routerLink="/analysis">Analysis</p>
        </div>
        <div class="option">
            <img src="../../../../../assets/icons/agreement.svg" alt="">
            <p routerLink="/assesment">Assesment</p>
        </div>
        <div class="option">
            <img src="../../../../../assets/icons/suitcase.svg" alt="">
            <p routerLink="/dashboard/resume">Resume</p>
        </div>
        <div class="option" routerLink="/dashboard/settings" routerLinkActive="active">
            <img src="../../../../../assets/icons/settings.svg" alt="">
            <p>Settings</p>
        </div>
        
    </div>
    <div class="social-links">
        <div class="social">
            <img src="./assets/icons/linkedin.svg" alt="Linkedin" width="16" height="16">
        </div>
        <div class="social">
            <img src="./assets/icons/github.svg" alt="Github" width="16" height="16">
        </div>
        <div class="social">
            <img src="./assets/icons/email.svg" alt="Gmail" width="16" height="16">
        </div>
    </div>

    <div class="logout-option" (click)="logout()">
        <img src="../../../../../assets/icons/logout.svg" alt="Logout">
    </div>

</div>