<div class="left-panel">
    <div class="title">
        <img src="./assets/images/logo.png" alt="logo">
        <h2>DevPulse</h2>
    </div>
    <div class="profile">
        <img [src]="previewUrl || 'assets/images/' + 'default-profilepic.png'" alt="Profile" class="profile-pic"/>
        <h3>{{user?.name}}</h3>
        <p>{{user?.email}}</p>
    </div>
    <div class="nav-links">
        <div class="option" routerLink="/dashboard/home" routerLinkActive="active" #homeRla="routerLinkActive">
            <img [src]="homeRla.isActive ? 'assets/icons/home_active.svg' : 'assets/icons/home.svg'" alt="Home" />
            <p class="nav-text" [class.active]="homeRla.isActive">Home</p>
        </div>
        
        <div class="option" routerLink="/dashboard/tasklist" routerLinkActive="active" #taskRla="routerLinkActive">
            <img [src]="taskRla.isActive ? 'assets/icons/task_active.svg' : 'assets/icons/task.svg'" alt="Task List" />
            <p class="nav-text" [class.active]="taskRla.isActive">Task List</p>
        </div>
        
        <div class="option" routerLink="/dashboard/assesment" routerLinkActive="active" #assessRla="routerLinkActive">
            <img [src]="assessRla.isActive ? 'assets/icons/agreement_active.svg' : 'assets/icons/agreement.svg'"
                alt="Assessment" />
            <p class="nav-text" [class.active]="assessRla.isActive">Assesment</p>
        </div>
        
        <div class="option" routerLink="/dashboard/resume" routerLinkActive="active" #resumeRla="routerLinkActive">
            <img [src]="resumeRla.isActive ? 'assets/icons/suitcase_active.svg' : 'assets/icons/suitcase.svg'" alt="Resume" />
            <p class="nav-text" [class.active]="resumeRla.isActive">Resume</p>
        </div>
        
        <div class="option" routerLink="/dashboard/settings" routerLinkActive="active" #settingsRla="routerLinkActive">
            <img [src]="settingsRla.isActive ? 'assets/icons/settings_active.svg' : 'assets/icons/settings.svg'"
                alt="Settings" />
            <p class="nav-text" [class.active]="settingsRla.isActive">Settings</p>
        </div>          
        
    </div>
    <hr />
    <div class="logout-option" (click)="logout()">
        <img src="../../../../../assets/icons/logout.svg" alt="Logout">
        <p>Logout</p>
    </div>

</div>

<app-popup 
  *ngIf="showPopup"
  [message]="popupMessage"
  [type]="popupType">
</app-popup>