<div class="homepage-container">
    <div class="left-panel">
        <div class="left-top">
            <div class="left-top-title">
                <h3>HI, Rachel Green</h3>
                <p>Welcome to ABC website, have a nice day</p>
            </div>
            <div class="add-task">
                <div class="add-symbol">+</div>
                <p>Add New Task</p>
            </div>
        </div>
        <div class="left-switch">
            <div class="switch-assesment">
                <div class="switch-top">
                    <div class="to-do-list">
                        <img src="./assets/icons/to-do-list.svg" alt="">
                    </div>
                    <img src="./assets/icons/more_option.svg" alt="">
                </div>
                <h3>Assesment</h3>
                <p>Progress 75%</p>
                <div class="progress-container">
                    <div class="progress-bar" [style.width.%]="progress"></div>
                </div>
            </div>
            <div class="switch-analysis">
                <div class="switch-top">
                    <div class="to-do-list">
                        <img src="./assets/icons/analysis-chart.svg" alt="">
                    </div>
                    <img src="./assets/icons/more_option.svg" alt="">
                </div>
                <h3>Analysis</h3>
                <p>Progress 75%</p>
                <div class="progress-container">
                    <div class="progress-bar" [style.width.%]="progress"></div>
                </div>
            </div>
            <div class="switch-resume">
                <div class="switch-top">
                    <div class="to-do-list">
                        <img src="./assets/icons/resume.svg" alt="">
                    </div>
                    <img src="./assets/icons/more_option.svg" alt="">
                </div>
                <h3>Resume</h3>
                <p>Progress 75%</p>
                <div class="progress-container">
                    <div class="progress-bar" [style.width.%]="progress"></div>
                </div>
            </div>
        </div>
        <div class="left-news">
            <div class="main-news">
                <img src="./assets/icons/news.svg" alt="">
            </div>
            <div class="side-news">
                <div class="side-news-item">
                    <img src="./assets/icons/news.svg" alt="">
                    <div class="side-news-content">
                        <hr><hr><hr><hr>
                    </div>
                    
                </div>
                <div class="side-news-item">
                    <img src="./assets/icons/news.svg" alt="">
                    <div class="side-news-content">
                        <hr><hr><hr><hr>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="right-panel">
        <div class="right-top">
            <h3>Calendar</h3>
            <img src="" alt="bell">
        </div>
        <div class="right-content">

        </div>
    </div>
</div>